@import '~normalize.css/normalize.css';
@import '~typeface-lato/index.css';

body {
  color: #05396BFF;
  background: #5adc94ff;
  overflow: hidden;
  font-family: 'Lato';
  width: 100vw;
  height: 100vh;
}
* {box-sizing: border-box;}